**/__pycache__
**/dat
**/*.tif
**/*.log
**/*.cif
**/*.jpg
**/*.png
**/*.xyz
**/*.pth
**/*.pt
.vscode
demo_atom_*
demo_cls_*
demo.*
sellect*
penguins*
logs
example/diff/data/
classifer.ipynb
example/diff/pth/fit.pth
example/diff/pth/model.pth
example/diff/pth/atomic_fit.pth
example/diff/pth/atomic_model.pth
example/pub25/
example/ads/data/
example/ads/pth/fit.pth
example/ads/pth/model.pth
example/ads/pth/atomic_fit.pth
example/ads/pth/atomic_model.pth

